<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>PatentMaker Assistant</title>
    <!-- For the JavaScript APIs for Office, go to https://aka.ms/officejs-overview to learn more. -->
    <script src="https://appsforoffice.microsoft.com/lib/1/hosted/office.js" type="text/javascript"></script>
    <!--Angular Material requires Angular.js Libraries-->
    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
    <!--Angular Material Library-->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
    <!--jquery script-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/oidc-client/1.6.1/oidc-client.min.js"></script>

    <script src="Home.js"></script>
    <link href="Home.css" rel="stylesheet" />
    <style>
        md-toolbar.md-default-theme.md-hue-2:not(.md-menu-toolbar), md-toolbar.md-hue-2:not(.md-menu-toolbar) {
            background-color: rgb(33,150,243);
            color: rgba(255,255,255,0.87);
        }

        .md-toolbar-tools {
            font-size: 20px;
            letter-spacing: .005em;
            box-sizing: border-box;
            font-weight: 400;
            display: flex;
            align-items: center;
            flex-direction: row;
            width: 100%;
            height: 64px;
            max-height: 64px;
            padding: 0 16px;
            margin: 0;
            justify-content: space-around;
        }

        md-toolbar {
            min-height: 40px !important;
        }

        .md-toolbar-tools {
            height: 40px !important;
            max-height: 40px !important;
        }

        #CustomeTextArea {
            font-size: small;
            padding: 5px;
            border: 2px solid #3da3f4;
            line-height: normal;
            border-radius: 5px;
        }
    </style>
</head>

<body ng-app="PatentMakerApp" ng-controller="PatentMakerCtrl">

    <div layout="row" layout-sm="column" layout-align="space-around" id="Startloader" style="z-index: 100 !important;position:fixed;display:none">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div layout="row" layout-sm="column" layout-align="space-around" id="StartDloader" style="z-index: 100 !important;position:fixed;display:none">
        <md-progress-circular class="downloadProgress" md-mode="determinate" value="{{determinateValue}}"></md-progress-circular>
        <span style="width:46px;text-align:center; margin-left:10px;margin-top:16px;position:fixed;">{{determinateValue}}%</span>
    </div>
    <div id="StartProgressLinear" style="z-index: 100 !important;position:fixed;display:none; margin:250px 7% 0 7%; width: 85%;">
        <md-progress-linear md-mode="Indeterminate" ng-disabled="showProgressLinear"></md-progress-linear>
        <div style="margin: 7px auto 0 auto;"><span>{{progressText}}</span></div>
    </div>

    <div id="ProgressBgDiv" style=" position: fixed; top: 0; left: 0; background-color: #ffffff; opacity: 0.8; display: none; width: 100%; height: 100%; z-index: 99 !important;"></div>


        <md-toolbar class="md-hue-2 md-raised">
            <div class="md-toolbar-tools">
                <h2 style="font-size:15px;">{{FileName}}</h2>
            </div>
        </md-toolbar>
               
        <div class="md-padding">

            <!--<md-button ng-click="CreateCommont()">Add Comment</md-button>-->


            <md-input-container class="md-block" style="margin-top:30px;">
                <label>Patent Application Number</label>
                <input type="text" ng-model="PatentAppNumber" id="applicationNumber">
            </md-input-container>
            <md-button ng-click="FetchCitations()" style="margin-top: -15px;text-transform:capitalize;" class="md-raised md-primary">
                Fetch Citations
            </md-button>

            <div style="margin-top:30px;" id="CitationsResult">
                <md-radio-group ng-model="SelectedCitations" aria-labelledby="favoriteFruit">
                    <md-radio-button ng-value="x" ng-repeat="x in Citations" ng-disabled="true" ng-if="x.available == false" class="md-primary">{{x.name}}<md-tooltip md-direction="top">Description text not available for this citation.</md-tooltip></md-radio-button>
                    <md-radio-button ng-value="x" ng-repeat="x in Citations" ng-click="selectCitation()" ng-if="x.available == true" class="md-primary">{{x.name}}</md-radio-button>
                </md-radio-group>
            </div>

            <!--<md-button ng-click="CreateCommont('Testing')">Create</md-button>-->
            <!--<md-button ng-click="Scrool()">Scroll</md-button>-->

            <div ng-hide="TextareaDiv" style="margin-top:35px;" id="ConservationDiv">

                <div style="float:right;width:85%;">
                    <md-input-container class="md-block">
                        <!--<label>Selected Text</label>-->
                        <textarea aria-label="SelectedText" type="text" ng-model="SelctedText" id="CustomeTextArea"></textarea>
                    </md-input-container>
                </div>

                <div style="text-align:right;">
                    <md-button class="md-raised" style="text-transform: capitalize; margin-top: -30px;" ng-click="askChatGPT()">Ask ChatGPT</md-button>
                </div>

                <div style="float:left;width:85%;" ng-hide="AnswerDiv">
                    <md-input-container class="md-block"> 
                        <textarea aria-label="Answer" type="text" ng-model="answerRes" id="CustomeTextArea"></textarea>
                    </md-input-container>
                </div>


                <!--<div style="text-align:left;">
        <div style="background-color: white; width: 75%; float: right; box-shadow: 0px 0px 4px 1px gainsboro; padding: 10px; font-size: 13px;border-radius:5px;">
            {{Questine}}
        </div>
    </div>
    <div style="display:block;float:right;">
        <md-button style="text-transform:capitalize;" class="md-raised" ng-click="askChatGPT()">Ask ChatGPT</md-button>
    </div>

    <div style="text-align:left;" ng-hide="AnswerDiv">
        <div style="margin-top: 10px; background-color: #2196f3; width: 75%; float: left; box-shadow: 0px 0px 4px 1px gainsboro; padding: 10px; font-size: 13px; color: white; border-radius: 5px; ">
            <textarea>{{answerRes}}</textarea>
        </div>
    </div>-->

            </div>

            </div>
   
</body>

</html>